* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $generalFont, Arial, Helvetica, sans-serif;
  //   background-color: #f9f9f9;
  background-color: #eff7ff;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
